/*

*/

.version.graphic_design /* version checker */
{
	color: #00000C;
	background-color: #2F8F15;
}

.html
{
	background-color: #1E1E1E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.75669024602485px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 62px;
	width: 0.01px;
}

#ptop
{
	width: 0.01px;
	margin-left: -195px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#menuu154
{
	z-index: 2;
	width: 960px;
	margin-right: -10000px;
	left: 195px;
}

#u155
{
	width: 190px;
	min-height: 36px;
	margin-right: -10000px;
}

#u156
{
	width: 190px;
	padding-bottom: 1px;
}

#u156:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u156:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u159-4
{
	width: 190px;
	min-height: 35px;
	margin-right: -10000px;
}

#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 190px;
	min-height: 36px;
	margin-right: -10000px;
	left: 192px;
}

#u165
{
	width: 190px;
	padding-bottom: 1px;
}

#u156.MuseMenuActive,#u165:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u165:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u166-4
{
	width: 190px;
	min-height: 35px;
	margin-right: -10000px;
}

#u156.MuseMenuActive #u159-4,#u165:hover #u166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u165:active #u166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	width: 190px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u185:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u187-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u185:hover #u187-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u192
{
	width: 190px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u185.MuseMenuActive,#u192:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u195-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u185.MuseMenuActive #u187-4,#u192:hover #u195-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u199
{
	width: 190px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u192.MuseMenuActive,#u199:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u202-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u192.MuseMenuActive #u195-4,#u199:hover #u202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u983
{
	width: 190px;
	min-height: 36px;
	margin-right: -10000px;
	left: 384px;
}

#u1007
{
	width: 190px;
	padding-bottom: 1px;
}

#u165.MuseMenuActive,#u1007:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1007:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1010-4
{
	width: 190px;
	min-height: 35px;
	margin-right: -10000px;
}

#u165.MuseMenuActive #u166-4,#u1007:hover #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1007:active #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1007.MuseMenuActive #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u163,#u984
{
	width: 190px;
	top: 36px;
}

#u164,#u184,#u191,#u198,#u985
{
	width: 190px;
}

#u1007.MuseMenuActive,#u985:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1011
{
	width: 190px;
}

#u1012
{
	width: 190px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u199.MuseMenuActive,#u1012:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1012.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1014-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u199.MuseMenuActive #u202-4,#u1012:hover #u1014-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u1012.MuseMenuActive #u1014-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u169
{
	width: 191px;
	min-height: 36px;
	margin-right: -10000px;
	left: 576px;
}

#u170
{
	width: 191px;
	padding-bottom: 1px;
}

#u170:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u170:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u173-4
{
	width: 191px;
	min-height: 35px;
	margin-right: -10000px;
}

#u170:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u170:active #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u537
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u537:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u538-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u537:hover #u538-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u522
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u537.MuseMenuActive,#u522:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u524-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u537.MuseMenuActive #u538-4,#u522:hover #u524-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u176
{
	width: 191px;
	min-height: 36px;
	margin-right: -10000px;
	left: 769px;
}

#u177
{
	width: 191px;
	padding-bottom: 1px;
}

#u170.MuseMenuActive,#u177:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u177:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 191px;
	min-height: 35px;
	margin-right: -10000px;
}

#u170.MuseMenuActive #u173-4,#u177:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u177:active #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u177.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u174,#u181
{
	width: 191px;
	top: 36px;
}

#u175,#u534,#u521,#u182
{
	width: 191px;
}

#u177.MuseMenuActive,#u182:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u231
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u522.MuseMenuActive,#u231:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u231:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u233-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u522.MuseMenuActive #u524-4,#u231:hover #u233-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u231:active #u233-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u230,#u243
{
	width: 191px;
}

#u244
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u231.MuseMenuActive,#u244:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u244:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u244.MuseMenuActive
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u247-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u231.MuseMenuActive #u233-4,#u244:hover #u247-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u244:active #u247-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u244.MuseMenuActive #u247-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u559
{
	z-index: 186;
	height: 94px;
	-pie-box-shadow: 0px 0px 23px #000000;
	box-shadow: 0px 0px 23px #000000;
	background-color: #141414;
}

#u559-bw
{
	z-index: 186;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 25px;
}

#u680
{
	z-index: 191;
	overflow: hidden;
	position: fixed;
	top: 32px;
	left: -69px;
}

.js #u680.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u560-4
{
	z-index: 187;
	width: 597px;
	min-height: 85px;
	background-color: transparent;
	line-height: 95px;
	color: #FFFFFF;
	font-size: 79px;
	font-family: '__Ostrich Sans_5';
	font-weight: 500;
	position: fixed;
	top: 32px;
	left: 19px;
}

#pu562-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 129px;
}

#u562-4
{
	z-index: 94;
	width: 480px;
	min-height: 38px;
	background-color: transparent;
	line-height: 58px;
	color: #E6E6E6;
	font-size: 48px;
	font-family: '__Ostrich Sans_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u563-6
{
	z-index: 98;
	width: 480px;
	min-height: 38px;
	background-color: transparent;
	line-height: 20px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: '__Ostrich Sans_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 432px;
}

#u558
{
	z-index: 91;
	min-height: 380px;
	background-color: #E6E6E6;
	padding-bottom: 37px;
}

#u558_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u544
{
	z-index: 92;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 258px;
}

#u558-bw
{
	z-index: 91;
	min-height: 380px;
	margin-top: 12px;
}

#u549
{
	z-index: 93;
	margin-left: 205px;
	margin-top: 4px;
	position: relative;
}

#u1201
{
	z-index: 89;
	width: 920px;
	height: 518px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 35px;
	position: relative;
}

#u1206
{
	z-index: 193;
	margin-left: 165px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u565
{
	z-index: 90;
	min-height: 1860.7999999999993px;
	background-color: #E6E6E6;
	padding-bottom: 0px;
}

#u565_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 12px;
	padding-bottom: 19px;
}

#u575
{
	z-index: 168;
	overflow: hidden;
	left: 289px;
	position: relative;
}

#u564-52
{
	z-index: 104;
	width: 920px;
	min-height: 782px;
	background-color: transparent;
	left: 120px;
	margin-top: 16px;
	position: relative;
}

#u564-4
{
	font-size: 17px;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u564-2
{
	font-weight: bold;
}

#u564-6
{
	font-size: 10px;
	line-height: 12px;
}

#u612
{
	float: left;
}

#u607
{
	z-index: 121;
}

#u618
{
	float: left;
	margin-top: -14px;
	margin-bottom: 14px;
}

#u613
{
	z-index: 126;
}

#u624
{
	float: right;
}

#u619
{
	z-index: 135;
}

#u630
{
	float: left;
	margin-top: 15px;
	margin-bottom: -15px;
}

#u625
{
	z-index: 142;
}

#u636
{
	float: right;
	margin-top: 4px;
	margin-bottom: -4px;
}

#u631
{
	z-index: 151;
}

#u642
{
	float: left;
	margin-top: 5px;
	margin-bottom: -5px;
}

#u637
{
	z-index: 164;
}

#u565-bw
{
	z-index: 90;
	min-height: 1860.7999999999993px;
}

#pu645-5
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 78px;
}

#u645-5
{
	z-index: 169;
	width: 480px;
	min-height: 38px;
	background-color: transparent;
	line-height: 58px;
	color: #E6E6E6;
	font-size: 48px;
	font-family: '__Ostrich Sans_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u645-2
{
	font-style: italic;
}

#u646-4
{
	z-index: 174;
	width: 480px;
	min-height: 38px;
	background-color: transparent;
	line-height: 20px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: '__Ostrich Sans_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 440px;
}

#pu647
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 15px;
}

#u647
{
	z-index: 178;
	width: 448px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u649
{
	z-index: 180;
	width: 449px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

#pu651
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
}

#u651
{
	z-index: 182;
	width: 449px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u653
{
	z-index: 184;
	width: 449px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

@font-face
{
	font-family: '__Ostrich Sans_5';
	src: url('../fonts/ostrichsans-medium-webfont.eot');
	src: local('☺'), url('../fonts/ostrichsans-medium-webfont.woff') format('woff'), url('../fonts/ostrichsans-medium-webfont.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 26px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

