/*

*/

.version.photography /* version checker */
{
	color: #0000F3;
	background-color: #DB2367;
}

.html
{
	background-color: #1E1E1E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 62px;
	width: 0.01px;
}

#ptop
{
	width: 0.01px;
	margin-left: -180px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#menuu154
{
	z-index: 2;
	width: 960px;
	margin-right: -10000px;
	left: 180px;
}

#u155
{
	width: 190px;
	min-height: 36px;
	margin-right: -10000px;
}

#u156
{
	width: 190px;
	padding-bottom: 1px;
}

#u156:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u156:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u159-4
{
	width: 190px;
	min-height: 35px;
	margin-right: -10000px;
}

#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 190px;
	min-height: 36px;
	margin-right: -10000px;
	left: 192px;
}

#u165
{
	width: 190px;
	padding-bottom: 1px;
}

#u156.MuseMenuActive,#u165:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u165:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u166-4
{
	width: 190px;
	min-height: 35px;
	margin-right: -10000px;
}

#u156.MuseMenuActive #u159-4,#u165:hover #u166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u165:active #u166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	width: 190px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u185:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u187-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u185:hover #u187-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u192
{
	width: 190px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u185.MuseMenuActive,#u192:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u195-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u185.MuseMenuActive #u187-4,#u192:hover #u195-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u199
{
	width: 190px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u192.MuseMenuActive,#u199:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u202-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u192.MuseMenuActive #u195-4,#u199:hover #u202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u983
{
	width: 190px;
	min-height: 36px;
	margin-right: -10000px;
	left: 384px;
}

#u1007
{
	width: 190px;
	padding-bottom: 1px;
}

#u165.MuseMenuActive,#u1007:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1007:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1010-4
{
	width: 190px;
	min-height: 35px;
	margin-right: -10000px;
}

#u165.MuseMenuActive #u166-4,#u1007:hover #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1007:active #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1007.MuseMenuActive #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u163,#u984
{
	width: 190px;
	top: 36px;
}

#u164,#u184,#u191,#u198,#u985
{
	width: 190px;
}

#u1007.MuseMenuActive,#u985:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1011
{
	width: 190px;
}

#u1012
{
	width: 190px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u199.MuseMenuActive,#u1012:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1012.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1014-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u199.MuseMenuActive #u202-4,#u1012:hover #u1014-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u1012.MuseMenuActive #u1014-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u169
{
	width: 191px;
	min-height: 36px;
	margin-right: -10000px;
	left: 576px;
}

#u170
{
	width: 191px;
	padding-bottom: 1px;
}

#u170:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u170:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u173-4
{
	width: 191px;
	min-height: 35px;
	margin-right: -10000px;
}

#u170:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u170:active #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u537
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u537:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u538-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u537:hover #u538-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u522
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u537.MuseMenuActive,#u522:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u524-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u537.MuseMenuActive #u538-4,#u522:hover #u524-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u176
{
	width: 191px;
	min-height: 36px;
	margin-right: -10000px;
	left: 769px;
}

#u177
{
	width: 191px;
	padding-bottom: 1px;
}

#u170.MuseMenuActive,#u177:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u177:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 191px;
	min-height: 35px;
	margin-right: -10000px;
}

#u170.MuseMenuActive #u173-4,#u177:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u177:active #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u177.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u174,#u181
{
	width: 191px;
	top: 36px;
}

#u175,#u534,#u521,#u182
{
	width: 191px;
}

#u177.MuseMenuActive,#u182:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u231
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u522.MuseMenuActive,#u231:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u231:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u233-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u522.MuseMenuActive #u524-4,#u231:hover #u233-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u231:active #u233-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u230,#u243
{
	width: 191px;
}

#u244
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u231.MuseMenuActive,#u244:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u244:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u244.MuseMenuActive
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u247-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u231.MuseMenuActive #u233-4,#u244:hover #u247-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u244:active #u247-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u244.MuseMenuActive #u247-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u703
{
	z-index: 118;
	height: 94px;
	-pie-box-shadow: 0px 0px 23px #000000;
	box-shadow: 0px 0px 23px #000000;
	background-color: #141414;
}

#u703-bw
{
	z-index: 118;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 25px;
}

#u705
{
	z-index: 123;
	overflow: hidden;
	position: fixed;
	top: 31px;
	left: -69px;
}

.js #u705.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u704-4
{
	z-index: 119;
	width: 597px;
	min-height: 85px;
	background-color: transparent;
	line-height: 95px;
	font-size: 79px;
	color: #FFFFFF;
	font-family: '__Ostrich Sans_5';
	font-weight: 500;
	position: fixed;
	top: 32px;
	left: 19px;
}

#pu415
{
	width: 0.01px;
	margin-top: 128px;
}

#u415
{
	z-index: 89;
	width: 960px;
	height: 626px;
	-pie-box-shadow: 0px 0px 17px #000000;
	box-shadow: 0px 0px 17px #000000;
	background-color: #141414;
	position: relative;
	margin-right: -10000px;
}

#slideshowu288
{
	z-index: 91;
	width: 0.01px;
	height: 695px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u289
{
	position: absolute;
	width: 959px;
	height: 626px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u289popup
{
	z-index: 92;
}

#u437
{
	z-index: 93;
	width: 959px;
	height: 626px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u292
{
	z-index: 95;
	width: 959px;
	height: 626px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u422
{
	z-index: 97;
	width: 959px;
	height: 626px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u386
{
	z-index: 99;
	width: 959px;
	height: 626px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u395
{
	z-index: 101;
	width: 959px;
	height: 626px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u404
{
	z-index: 103;
	width: 959px;
	height: 626px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u437_clip,#u292_clip,#u422_clip,#u386_clip,#u395_clip,#u404_clip
{
	overflow: hidden;
	width: 959px;
	height: 626px;
}

#u437_img,#u292_img,#u422_img,#u386_img,#u395_img,#u404_img
{
	margin-top: -5px;
	margin-bottom: -6px;
}

#u304
{
	position: absolute;
	width: 959px;
	border-style: none;
	border-color: transparent;
	background-color: #141414;
	padding-bottom: 10px;
	top: 640px;
}

#u304popup
{
	z-index: 105;
}

#u440
{
	z-index: 106;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 274px;
}

#u440:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u309
{
	z-index: 108;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 344px;
}

#u309:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u425
{
	z-index: 110;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 414px;
}

#u425:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u389
{
	z-index: 112;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u389:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u398
{
	z-index: 114;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 554px;
}

#u398:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u407
{
	z-index: 116;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u407:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u440.SSSlideLinkSelected,#u309.SSSlideLinkSelected,#u425.SSSlideLinkSelected,#u389.SSSlideLinkSelected,#u398.SSSlideLinkSelected,#u407.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u440_clip,#u309_clip,#u425_clip,#u389_clip,#u398_clip,#u407_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u440_img,#u309_img,#u425_img,#u389_img,#u398_img,#u407_img
{
	margin-left: -4px;
	margin-right: -4px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u414
{
	z-index: 90;
	width: 960px;
	height: 63px;
	-pie-box-shadow: 0px 0px 17px #000000;
	box-shadow: 0px 0px 17px #000000;
	background-color: #141414;
	top: -64px;
	margin-bottom: -63px;
	position: relative;
}

@font-face
{
	font-family: '__Ostrich Sans_5';
	src: url('../fonts/ostrichsans-medium-webfont.eot');
	src: local('☺'), url('../fonts/ostrichsans-medium-webfont.woff') format('woff'), url('../fonts/ostrichsans-medium-webfont.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 26px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

