/*

*/

.version.servers /* version checker */
{
	color: #0000FE;
	background-color: #32D03A;
}

.html
{
	background-color: #1E1E1E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -26px;
	padding-bottom: 490px;
	width: 0.01px;
}

#menuu154
{
	z-index: 2;
	width: 960px;
}

#u155
{
	width: 190px;
	min-height: 36px;
	margin-right: -10000px;
}

#u156
{
	width: 190px;
	padding-bottom: 1px;
}

#u156:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u156:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u159-4
{
	width: 190px;
	min-height: 35px;
	margin-right: -10000px;
}

#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 190px;
	min-height: 36px;
	margin-right: -10000px;
	left: 192px;
}

#u165
{
	width: 190px;
	padding-bottom: 1px;
}

#u156.MuseMenuActive,#u165:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u165:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u166-4
{
	width: 190px;
	min-height: 35px;
	margin-right: -10000px;
}

#u156.MuseMenuActive #u159-4,#u165:hover #u166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u165:active #u166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	width: 190px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u185:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u187-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u185:hover #u187-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u192
{
	width: 190px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u185.MuseMenuActive,#u192:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u195-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u185.MuseMenuActive #u187-4,#u192:hover #u195-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u199
{
	width: 190px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u192.MuseMenuActive,#u199:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u202-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u192.MuseMenuActive #u195-4,#u199:hover #u202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u983
{
	width: 190px;
	min-height: 36px;
	margin-right: -10000px;
	left: 384px;
}

#u1007
{
	width: 190px;
	padding-bottom: 1px;
}

#u165.MuseMenuActive,#u1007:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1007:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1010-4
{
	width: 190px;
	min-height: 35px;
	margin-right: -10000px;
}

#u165.MuseMenuActive #u166-4,#u1007:hover #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1007:active #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1007.MuseMenuActive #u1010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u163,#u984
{
	width: 190px;
	top: 36px;
}

#u164,#u184,#u191,#u198,#u985
{
	width: 190px;
}

#u1007.MuseMenuActive,#u985:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1011
{
	width: 190px;
}

#u1012
{
	width: 190px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u199.MuseMenuActive,#u1012:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1012.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1014-4
{
	width: 182px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u199.MuseMenuActive #u202-4,#u1012:hover #u1014-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u1012.MuseMenuActive #u1014-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u169
{
	width: 191px;
	min-height: 36px;
	margin-right: -10000px;
	left: 576px;
}

#u170
{
	width: 191px;
	padding-bottom: 1px;
}

#u170:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u170:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u173-4
{
	width: 191px;
	min-height: 35px;
	margin-right: -10000px;
}

#u170:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u170:active #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u537
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u537:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u538-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u537:hover #u538-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u522
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u537.MuseMenuActive,#u522:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u524-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u537.MuseMenuActive #u538-4,#u522:hover #u524-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u176
{
	width: 191px;
	min-height: 36px;
	margin-right: -10000px;
	left: 769px;
}

#u177
{
	width: 191px;
	padding-bottom: 1px;
}

#u170.MuseMenuActive,#u177:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u177:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 191px;
	min-height: 35px;
	margin-right: -10000px;
}

#u170.MuseMenuActive #u173-4,#u177:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u177:active #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u177.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u174,#u181
{
	width: 191px;
	top: 36px;
}

#u175,#u534,#u521,#u182
{
	width: 191px;
}

#u177.MuseMenuActive,#u182:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u231
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u522.MuseMenuActive,#u231:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u231:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u233-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u522.MuseMenuActive #u524-4,#u231:hover #u233-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u231:active #u233-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u230,#u243
{
	width: 191px;
}

#u244
{
	width: 191px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u231.MuseMenuActive,#u244:hover
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u244:active
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u244.MuseMenuActive
{
	width: 191px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u247-4
{
	width: 183px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u231.MuseMenuActive #u233-4,#u244:hover #u247-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u244:active #u247-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u244.MuseMenuActive #u247-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

@font-face
{
	font-family: '__Ostrich Sans_5';
	src: url('../fonts/ostrichsans-medium-webfont.eot');
	src: local('☺'), url('../fonts/ostrichsans-medium-webfont.woff') format('woff'), url('../fonts/ostrichsans-medium-webfont.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 26px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

