@charset "UTF-8";
/* CSS Document */

#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

body {
	font-family: serif;
	background-color: #1E1E1E;
	color: #DCDCDC;
}

a {
	font-family: sans-serif;
}

a:link {
	color: #3195FF;
}

a:visited {
	color: #0054A3;
}

a:hover {
	color: #68C4FF;
}

li a{
	color: #00B8FA;
}

h2 {
	background-color: #cfcfcf;
	color: #1E1E1E;
	background-repeat: repeat-x;
	line-height: 200%;
	box-shadow: 2px 4px 24px #000000;
}

h3 {
	text-indent: 1em;
}

footer {
	font-style: italic;
	font-size: smaller;
	text-align: center;
	background-image: url(glow);
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

div.image {
	content: url(haloflat.png);
	width: 100px;
	height: 100px;
	text-align: center;
	alt: "Go to main site";
	float: right;
	
}

h1 {
	font-weight: lighter;
	border-bottom: 1px dashed #7C7C7C;
}

ul {
	list-style-type: none;
}